/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1em;
  padding: 1em;
}

.event-grid > .event-card {
  display: block;
  width: 100%;
  padding: 1em;
}

.event-card h3 {
  line-height: 30px;
}

.event-card__location {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  color: #aaa;
  font-weight: 500;
}

@media (min-width: 600px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.auth-container {
  padding: 2em;
  box-shadow: 0 0 0 2px var(--black);
  margin: 1em auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auth-container .form {
  display: flex;
  flex-direction: column;
}

.form__left-side, .form__right-side {
  flex: 1;
}

.form__left-side {
  border-bottom: 2px solid var(--black);
  padding: 0 0 1.5em 0;
}

.form__right-side {
  padding: 1.5em 0 0 0;
}

.form__left-side .input {
  width: 100%;
}

@media (min-width: 600px) {
  .auth-container .form {
    flex-direction: row;
  }
  .form__left-side {
    border-right: 2px solid var(--black);
    border-bottom: none;
    padding: 0 1.5em 0 0;
  }
  .form__right-side {
    padding: 0 0 0 1.5em;
  }
  .auth-container {
    text-align: left;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}