/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

a {
  cursor: pointer;
}

html, body {
  background: #f7e6be;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}



.auth-container {
  padding: 2em;
  box-shadow: 0 0 0 2px var(--black);
  margin: 1em auto;
  max-width: 600px;
/*   display: flex; */
/*   flex-direction: column; */
  text-align: center;
  background-color: var(--white);
  height: max-content;
}

.auth-container .form {
  display: flex;
  flex-direction: column;
}

.form__left-side, .form__right-side {
  flex: 1;
}

.form__left-side {
  border-bottom: 2px solid var(--black);
  padding: 0 0 1.5em 0;
}

.form__right-side {
  padding: 1.5em 0 0 0;
}

.form__left-side .input {
  width: 100%;
}

@media (min-width: 600px) {
  .auth-container .form {
    flex-direction: row;
  }
  .form__left-side {
    border-right: 2px solid var(--black);
    border-bottom: none;
    padding: 0 1.5em 0 0;
  }
  .form__right-side {
    padding: 0 0 0 1.5em;
  }
  .auth-container {
    text-align: left;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.notice, .alert {
  padding: 1em;
}

.notice {
  background: var(--cyan-light);
}

.alert {
  background: var(--pink-light);
}