<footer class='site-footer'>
  <div class='container flex-center'>
    <p>&copy; 2022 Jonathan Roley</p>
    <p>Styled using <a href='https://replit.com/@Bookie0/bouncecss?v=1'><span class='rainbow'>bounce.css</span></a></p>
  </div>
</footer>